<table>
    <tr><th><br /></th></tr>
    <tr><th>CALCULATOR</th></tr>
    <tr><th><br /></th></tr>
    <tr>
        <th>
            <input style="width:250PX" id="text" value="" />
        </th>
    </tr>
    <tr><th><br /></th></tr>
    <tr>
        <th>
            <input type="button" value="1" onclick="Input_Value('1')" />
            <input type="button" value="2" onclick="Input_Value('2')" />
            <input type="button" value="3" onclick="Input_Value('3')" />
            <input type="button" value="C" onclick="CLEAR()" />
            <input type="button" value="OFF" onclick="BACKSPACE()" />
        </th>
    </tr>
    <tr><th><br /></th></tr>
    <tr style="padding:initial">
        <th>
            <input type="button" value="4" onclick="Input_Value('4')" />
            <input type="button" value="5" onclick="Input_Value('5')" />
            <input type="button" value="6" onclick="Input_Value('6')" />
            <input type="button" value="+" onclick="PLUS()" />
            <input type="button" value="-" onclick="MINUS()" />
        </th>
    </tr>
    <tr><th><br /></th></tr>
    <tr>
        <th>
            <input type="button" value="7" onclick="Input_Value('7')" />
            <input type="button" value="8" onclick="Input_Value('8')" />
            <input type="button" value="9" onclick="Input_Value('9')" />
            <input type="button" value="*" onclick="MULTIPLE()" />
            <input type="button" value="/" onclick="DIVIDE()" />
        </th>
    </tr>
    <tr><th><br /></th></tr>
    <tr>
        <th>
            <input type="button" value="." onclick="Input_Value('.')" />
            <input type="button" value="0" onclick="Input_Value('0')" />
            <input type="button" value="00" onclick="Input_Value('00')" />
            <input type="button" value="%" onclick="REMENDER()" />
            <input type="button" value="=" onclick="EQUAL()" />
        </th>
    </tr>
    <tr><th><br /></th></tr>
</table>