
input {
    width: 50PX;
    height: 50PX;
}
table{
    table-layout: auto; 
    background-color:rgba(185, 150, 85, 0.877); 
    width: 50%; 
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 300px;
    margin-right: 250px;
    padding: 10px;
}